<table class="table table-hover">
    <tr>
        <td width="10%">
            {{ student.number }}
        </td>
        <td width="20%">
            <a href="{{ url_for('main.show_student', number=student.number) }}">
                {{ student.name }}
            </a>
        </td>
        <td width="20%">
            {{ student.service_hours|format_number }} service hours
        </td>
        <td>
            {% for award in student.awards %}
                <a href="{{ url_for('main.award_page', award_name=award.name) }}">{{ award.name }}</a>
            {% endfor %}
        </td>
    </tr>
</table>
